body {
  font-family: Arial, sans-serif;
  background-color: #cde8e5;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -2;
}

.video-background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.background-wedge1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #e7f6f2;
  clip-path: polygon(0 0, 30% 50%, 0 100%);
  z-index: -1;
}
.background-wedge2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #e7f6f2;
  clip-path: polygon(30% 0, 100% 0, 100% 100%, 30% 100%, 90% 50%);
  z-index: -1;
}

.login-container {
  position: relative;
  margin-right: 50vw;
  z-index: 1;
  background: rgba(165, 201, 202, 0.8);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  /* width: 20vw; */
}

.tagline {
  position: absolute;
  top: 50%;
  right: 30%;
  transform: translateY(-50%);
  color: #e7f6f2;
  font-size: 2rem;
  font-weight: bold;
  max-width: 300px;
  text-align: left;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
}

h1 {
  font-size: 36px;
  color: #2c3333;
  margin: 0;
  padding-bottom: 16px;
}

.inputs {
  margin: 5px 0;
  text-align: center;
}

.inputs label {
  font-size: 18px;
  color: #333;
  display: block;
  margin-bottom: 3px;
  font-weight: 700;
  pad: 10px;
}

.inputs input {
  padding: 10px;
  width: 250px;
  border: 0px;
  border-radius: 5px;
  margin-top: 2px;
  font-size: 16px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: #e7f6f2;
  border-radius: 10px;
  margin-top: 40px;
  padding: 20px;
}

button {
  padding: 12px 30px;
  margin: 10px 0px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
}
.inputs:first-of-type {
  margin-bottom: 16px;
}

button:first-of-type {
  background-color: #395b64;
  color: #e7f6f2;
}

button:first-of-type:hover {
  background-color: #2c3333;
}

button:last-of-type {
  background-color: #395b64;
  color: #e7f6f2;
}

button:last-of-type:hover {
  background-color: #2c3333;
}
@media (max-width: 1050px) {
  .tagline {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
  }
  .login-container {
    margin-right: 0;
  }
}
@media (max-width: 600px) {
  .inputs input {
    width: 80%;
  }

  .card {
    height: auto;
    padding: 20px;
  }

  h1 {
    font-size: 24px;
  }

  button {
    width: 100%;
    margin: 10px 0;
  }

  .background-wedge1 {
    clip-path: none;
    background: none;
  }
  .login-container {
    margin-right: 0;
  }
}
